/* basic */

body {
    background-color: black;
    position: relative;
    font-size: 1em;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif
}

p {
    margin: .7em 0;
}

a {
    text-decoration: none;
}

span {
    display: inline-block;
}

a.link {
    transition: opacity 0.5s;
    color: #ffe5be;
    opacity: 1;
}

a.hidden-link {
    transition: opacity 0.5s;
    color: inherit;
    opacity: 1;
}

a.hidden-link:hover,
a.link:hover {
    opacity: 0.75;
}

/* background */

#background {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-clip: revert;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* title */

.title {
    position: fixed;
    top: 0px;
    width: 100%;
    /* text-align: center; */
    font-size: 2em;
    padding: .4em 0 .4em 2em;
    background-color: #000;
    color: white;
}

img.logo {
    vertical-align: middle;
    width: 2em;
}

/* footer */

#footer-container {
    position: fixed;
    bottom: 0px;
    left: 0;
    font-size: 1em;
    width: 100%;
    color: #fffa;
    text-align: center;
    background-color: black;
}

#footer-container p {
    color: white;
}

/* content */

#main-container {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    position: relative;
    width: auto;

    left: 0;
    transition: cubic-bezier(.6, 0, .4, 1) left 0.5s;
}

/* menu */

#menu-container {
    display: inline-block;
    width: 60em;
    height: auto;
    padding: 2em 3em;
    position: relative;
    left: calc(50% - 34em);
    /* background-color: #faa3; */
    transition: cubic-bezier(.6, 0, .4, 1) opacity 0.5s;
}

.menu-column {
    display: inline;
    float: left;
    width: 20em;
    margin: 0;
    color: white;
}

.menu-block:hover {
    background-color: #fff2;
}

.menu-block:active {
    background-color: #fff3;
}

.menu-block {
    pointer-events: all;
    display: inline;
    float: left;
    margin: 0.8em;
    border: 0.2em solid #fff;
    border-radius: 0.2em;
    padding: 0.5em;
    transition: background-color 0.1s;
}

.menu-block p {
    position: relative;
    vertical-align: bottom;
    bottom: 1.5em;
    font-size: 1.2em;
    margin: 0 0.5em;
    text-align: right;
}

.menu-block img {
    pointer-events: none;
}

.menu-block.s {
    width: 7em;
    height: 7em;
}

.menu-block.s img {
    width: 6em;
    margin: 0 0.5em 1em 0.5em;
}

.menu-block.s p {
    font-size: 1.1em;
}

.menu-block.m {
    width: 17em;
    height: 7em;
}

.menu-block.m img {
    width: 6em;
    margin: 0 5.5em 1em 5.5em;
}

.menu-block.l {
    width: 17em;
    height: 17em;
}

.menu-block.l img {
    width: 15em;
    margin: 2em 1em 0em 1em;
}

/* submenu */

#submenu-container {
    position: fixed;
    top: 0;
    font-size: 1em;
    width: 30em;
    height: 100%;
    color: #fff;
    /* background-color: #afa3; */
    padding: 3em 4em;
    left: calc(50% + 34em);
    opacity: 0;
    transition-property: left, opacity;
}

.submenu-switch {
    display: none;
}

.submenu-title {
    font-size: 2em;
    margin: 0.4em;
}

.submenu-text {
    font-size: 1.5em;
    padding: 0.4em;
}

hr {
    background-color: #aaaf;
    margin: 0.5em 0;
    position: relative;
    left: -2em;
    width: calc(100% + 4em);
}

.clearfix {
    font: 0px/0px sans-serif;
    clear: both;
    display: block
}

/* flex */

@media screen and (max-width: 1600px) {
    #main-container {
        font-size: 0.85em;
    }

    .menu-block {
        margin: 0.75em;
        border: 0.25em solid #fff;
    }
}

@media screen and (max-width: 1200px) {
    #main-container {
        font-size: 0.7em;
    }

    .menu-block {
        margin: 0.7em;
        border: 0.3em solid #fff;
    }
}

@media screen and (max-width: 800px) {
    #submenu-container {
        left: calc(50% + 14em);
    }

    #menu-container {
        width: 20em;
        left: calc(50% - 12em);
    }

    .menu-block {
        margin: 0.65em;
        border: 0.35em solid #fff;
    }

    .menu-block.l img {
        width: 7em;
        margin: 0 5em;
    }

    .menu-block.l {
        width: 17em;
        height: 7em;
    }

    .title {
        padding: .4em 0 .4em 0;
        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    body {
        font-size: 0.8em;
    }

    #main-container {
        font-size: 0.875em;
    }

    #submenu-container {
        width: 20em;
        left: calc(50% + 14em);
    }
}
