/* basic */

body {
    background-color: black;
    position: absolute;
    font-size: 1em;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif
}

p {
    margin: .5em 0;
}

span {
    display: inline-block;
}

/* link */

a.link {
    text-decoration: none;
    transition: opacity 0.5s;
    color: #ffe5be;
    opacity: 1;
}

a.link.hidden {
    color: inherit;
}

a.link.copy {
    font-size: 150%;
}

a.link:hover {
    opacity: 0.75;
    cursor: pointer;
}

a.tile-link {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    color: white;
}

/* background */

#background {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-clip: revert;
    background-position: center;
    background-size: cover;
    transition: all 0.4s;
    background-repeat: no-repeat;
}

/* header */

#header {
    position: fixed;
    top: 0px;
    width: calc(100% - 4em);
    /* text-align: center; */
    padding: .8em 2em;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    z-index: 1;
}

#header span {
    display: inline-block;
    font-size: 2em;
    line-height: 2em;
    vertical-align: middle;
}

#header span.light {
    opacity: 0.5;
}

#inputTrigger {
    position: absolute;
    display: flex;
    width: 75%;
    height: 3.5em;
    top: .15em;
    left: .5em;
    /* background-color: rgba(247, 103, 247, 0.288); */
    pointer-events: all;
    cursor: text;
}

#search,
#back {
    position: fixed;
    padding: 0 .35em;
    cursor: pointer;
}

#search {
    right: .15em;
}

#back {
    right: 2em;
}

#search svg,
#back svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

#header img {
    vertical-align: middle;
    width: 4em;
}

/* footer */

#footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    font-size: 1em;
    width: 100%;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

#footer p {
    color: white;
}

/* content */

#content {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
}

#content::-webkit-scrollbar {
    display: none;
}

/* major */

#offset {
    display: inline-block;
    position: relative;
    height: 100%;
    min-width: 100%;
    left: 0;
    transition: cubic-bezier(.6, 0, .4, 1) left, opacity 0.4s;
    pointer-events: none;
}

#major {
    color: white;
    display: inline-block;
    height: auto;
    top: calc(50% - 20em);
    padding: 2em 0;
    position: relative;
    /* background-color: #faa3; */
}

#major.home {
    width: 60.1em;
    left: calc(50% - 30em);
}

#major.tool {
    width: 66.1em;
    left: calc(50% - 33em);
    /* background-color: #fff3; */
}

/* tile container */

.tile-column {
    display: inline;
    float: left;
    width: 19em;
    padding: 0 .5em;
    margin: 0;
}

.tile-grid-vertical {
    display: inline;
    float: left;
    width: 20em;
    height: 39em;
    margin: 0 .5em;
    /* background-color: #afa5; */
}

.tile-grid-middle {
    display: inline;
    float: left;
    width: 37em;
    height: 29.5em;
    margin-top: .5em;
    padding-left: 0em;
    /* background-color: #faa5; */
}

.tile-grid-middle .title {
    font-size: 1.8em;
    margin: 5.9em 0 .2em .4em;
}

.tile-grid-middle .title.top {
    margin-top: 0;
}

/* tile */

.tile:hover {
    border-color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0.2, 0.2, 0.2, 0.35);
    cursor: pointer;
}

.tile:active {
    background-color: rgba(51, 51, 51, 0.6);
    border-color: rgba(255, 255, 255, 0.9);
}

.tile {
    pointer-events: visible;
    display: inline;
    float: left;
    margin: 0.35em;
    border: 0.15em solid rgba(255, 255, 255, 0.7);
    border-radius: .3em;
    padding: 0.5em;
    transition: border-color 0.2s, background-color 0.1s;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: right;
}

.tile p {
    position: relative;
    font-size: 1.1em;
    line-height: 1.591;
    margin: 0 0.3em;
}

.tile h4 {
    position: relative;
    bottom: 1.5em;
    font-size: 0.95em;
    font-weight: normal;
    margin: 0;
}

.tile h3 {
    position: relative;
    bottom: 1.5em;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0 0.1em;
}

.tile h2 {
    position: relative;
    bottom: 1.5em;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0.3em;
}

.tile img {
    pointer-events: none;
}

.tile.s {
    width: 7.5em;
    height: 7.5em;
}

.tile.s img {
    width: 4.5em;
    margin: 1.5em;
}

.tile.s.notext img {
    width: 7em;
    margin: .25em;
}

.tile.s p {
    font-size: 1.1em;
}

.tile.m {
    width: 17em;
    height: 7.4em;
}

.tile.m img {
    width: 5em;
    margin: 1.2em 6em;
}

.tile.l {
    width: 17em;
    height: 17em;
}

.tile.l img {
    width: 10em;
    margin: 3.5em;
}

.tile.l1 {
    width: 17em;
    height: 28em;
}

.tile.l1 img {
    width: 11em;
    margin: 8.5em 3em;
}

.tile.l2 {
    width: 17em;
    height: 5.5em;
}

.tile.l2 img {
    width: 5em;
    margin: .25em 6em;
}

.tile.m1 {
    width: 16em;
    height: 7em;
}

.tile.m1 img {
    width: 4em;
    margin: 1em 6em 2em 6em;
}

.tile.s1 {
    width: 7em;
    height: 7em;
}

.tile.s1 img {
    width: 4em;
    margin: 1.5em;
}

.tile.s2 {
    width: 5.5em;
    height: 5.5em;
}

.tile.s2 img {
    width: 3.5em;
    margin: 1em;
}

.tile.m2 {
    width: 12.5em;
    height: 5.5em;
}

.tile.m2 img {
    width: 3.5em;
    margin: 1em 4.5em;
}

/* side */

#side {
    position: fixed;
    top: calc(50% - 21em);
    width: 30em;
    height: 40em;
    color: #fff;
    /* background-color: #afa3; */
    padding: 2em 3em;
    margin-right: 1em;
    opacity: 0;
    transition: cubic-bezier(.6, 0, .4, 1) 0.4s;
    transition-property: left, opacity;
    pointer-events: none;
}

#side .title {
    display: inline-block;
    font-size: 2em;
    margin: .4em .2em;
}

#keyword {
    display: inline-block;
    font-size: 1em;
    width: 11em;
    pointer-events: all;
    border-width: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    color: white;
}

#side .text {
    pointer-events: all;
    font-size: 1.3em;
    padding: 0.4em;
}

#side .text.small {
    font-size: 1.3em;
}

#side hr {
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.65);
    margin: .3em;
    position: relative;
    left: -2em;
    width: calc(100% + 4em);
}

.clearfix {
    font: 0px/0px sans-serif;
    clear: both;
    display: block;
}

/* flex */

@media screen and (max-width: 800px) {
    #side {
        left: calc(50% + 13em);
    }

    .tile-grid-vertical {
        float: right;
        margin: 0 .5em;
    }

    .tile-grid-middle {
        float: right;
    }

    #major.tool {
        padding: 2em 1.5em;
    }

    #major.home {
        top: 0;
        margin-top: 5em;
        margin-bottom: 3em;
        width: 20.1em;
        left: calc(50% - 10em);
    }

    .tile.l img {
        width: 5em;
        margin: 1em 6em;
    }

    .tile.l {
        width: 17em;
        height: 7em;
    }

    #footer,
    #header {
        font-size: 0.9em;
    }

    #search,
    #back {
        padding: 0 .5em;
    }
}

@media screen and (max-width: 580px) {
    #header span.light {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #side {
        width: 20em;
        left: calc(50% + 13em);
    }

    #keyword {
        width: 6.5em;
    }
}

/* new */

svg {
    fill: currentColor;
}

svg.icon {
    width: 1em;
    height: 1em;
}

svg.icon-back {
    float: right;
    width: 2em;
    height: 2em;
    vertical-align: top;
    padding: 1.4em 0 1.4em 1.4em;
}

#side .content {
    width: 100%;
    max-height: calc(100% - 7em);
    overflow-y: scroll;
    pointer-events: all;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: .6em;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa9;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaac;
}

.item {
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 1em 0 1em .5em;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.item::-webkit-scrollbar {
    display: none;
}

svg.icon-line {
    width: 2em;
    height: 2em;
    padding: .6em 0 .6em .6em;
    float: right;
    color: white;
    transform: rotate(0deg);
    transition: cubic-bezier(.6, 0, .4, 1) transform 0.3s;
}

.item img {
    margin-right: .625em;
}

.item .item-title {
    display: inline-block;
    font-size: 1.25em;
    text-align: center;
    line-height: 2.4;
    width: max-content;
    vertical-align: top;
}

.detail-container {
    width: 100%;
    overflow-y: hidden;
    height: 0px;
    transition: cubic-bezier(.6, 0, .4, 1) height 0.3s;
}

.detail a {
    margin-right: 1em;
}

.detail span {
    /* min-width: 10em; */
    margin: .25em 0;
}

.tool-links-columns {
    columns: 2;
    overflow: hidden;
    max-width: 24em;
}

.detail {
    display: inline-block;
    width: 100%;
}

.item img {
    display: inline-block;
    height: 3em;
}

@media screen and (max-width: 500px) {
    .item {
        font-size: .75em;
    }

    .item .title {
        margin-left: 0;
    }

    .item .icon {
        padding-right: 0em;
    }
}