<div id="footer">
    <p>
        <span>
            Powered by
            <a  class="link" href="//r.ldtstore.com.cn/r/poweredby-1">@进栈检票</a>
            <a  class="link" href="//r.ldtstore.com.cn/r/poweredby-3">@CarrotGeball</a>
            <a  class="link" href="//r.ldtstore.com.cn/r/poweredby-2">@841973620</a>
        </span>
    </p>
    <p>
        <a  class="link" href="//ldtstore.com.cn/">
            <span>返回国内站</span>
        </a>
        <a class="link" onclick="side('about')">
            <span>关于本站/GitHub</span>
        </a>
    </p>
</div>
