<div id="footer">
    <p>
        <span>
            © 老弟一号工作室
            <a n class="link" href="//r.ldtstore.com.cn/r/poweredby-3">@CarrotGeball</a>
            × Berylsoft
            <a n class="link" href="//r.ldtstore.com.cn/r/poweredby-1">@进栈检票</a>
            <a n class="link">@841973620</a>
        </span>
    </p>
    <p>
        <span>加载慢请尝试</span>
        <a n class="link" onclick="backDefault()">
            <span>返回国内站</span>
        </a>
        <a class="link" onclick="side('about')">
            <span>关于本站/源代码</span>
        </a>
    </p>
</div>
