body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    font-size: 16px;
    max-width: 1000px;
    padding: 1em;
    line-height: 1.4;
}

p {
    margin: .5em 0;
}

a {
    text-decoration: none;
    color: #07a;
}

a.toc {
    font-size: medium;
    font-weight: normal;
}

i {
    color: #808080;
}

body.inverted {
    background-color: #000;
    color: #d9d9d9;
}

body.inverted a {
    color: #00a2e7;
}

@media screen and (prefers-color-scheme: dark) {
    body:not(.inverted) {
        background-color: #000;
        color: #d9d9d9;
    }

    a:not(.inverted) {
        color: #00a2e7;
    }

    body.inverted {
        background-color: unset;
        color: unset;
    }

    body.inverted a {
        color: #07a;
    }
}
