body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif
}

p {
    margin: .5em 0;
}

a {
    text-decoration: none;
    color: #07a;
}

a.toc {
    font-size: medium;
    font-weight: normal;
}

i {
    color: #808080;
}